.THIS{}
.THIS .slds-icon-utility-download{
    cursor: pointer !important;
}
.THIS .certification_box{
    border: 1px solid #e1e1e1 !important;
}
.THIS .Heading-padding6{
    padding:6px;
}
.THIS .active-bg-color{
    background-color:#d2cfcf;
    border-radius: 10px;
    padding: 4px 10px 4px 10px;
    margin: 5px;
    font-weight: 700;
}
.THIS .active-green-icon{
    background-color: #199719;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}
.THIS .inactive-green-icon{
    background-color: grey;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.THIS .certificate-issue-dt{
    margin-left: 21%;
    font-weight: 700;
}
.THIS .social-img{
    height: 24px;
}