.THIS {
}

.THIS .flex {
  display: flex;
}

.THIS .flex.col {
  flex-direction: column;
}

.THIS .steps {
  height: 160px;
}

.THIS .steps > div {
  margin: auto;
}
/* Progress Indicator */
.THIS #progressIndicator {
  min-width: 832px;
  width: 100%;
  height: 140px;
  display: flex;
  margin: auto;
}
  
.THIS .slds-progress {
  margin: 0;
  max-width: unset;
}

.THIS .slds-popover {
  left: 139px;
  width: unset;
  padding: 0 32px;
  border: 2px solid #00a3e0;
  background-color: white;
  font-weight: bold;
  text-transform: uppercase;
}
  
.THIS .slds-popover .slds-popover__body {
  font-size: 12px;
  text-align: center;
  color: #00a3e0;
}

.THIS .slds-popover::before {
  bottom: -0.6rem;
  border-right: 2px solid #00a3e0;
  border-bottom: 2px solid #00a3e0;
  background-color: white;
}

/*SETUP*/
.THIS #header {
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: #003b5c;
}

/* SETUP CSS */
.THIS .cCps_wizard_heading {
    margin: 80px auto 0;
}