.THIS {
}

.THIS .cCps_wizard_heading {
    font-size: 30px;
    margin: 80px auto 0;
}

.THIS img {
    height: 125px;
    margin: 48px auto 0;
}

.THIS h3 {
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.59;
  letter-spacing: normal;
  text-align: center;
  color: #003b5c;
}

.THIS button {
    margin: auto auto 80px;
}