.CaseImages{
    width: 70px;
    height: 70px;
    transition-property: width,height;
    transition-duration: 700ms;
    color: lightgrey;
}
.CaseTypeGroup:hover .CaseImages{
    color: #1583BE;
}
.CaseTypeGroup:hover {
    color: #1583BE;
}
.CaseTypeGroup {
    color: #313234;
}
.help-text-color {
    color: #696969
}