.THIS {
    display: flex;
    height: 169px;
}

.THIS > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.THIS > div.with-right-border {
    border-right: 1px solid rgba(90, 90, 90, 0.16);
}

.THIS .right-col ul {
    display: flex;
    flex-direction: column;
    margin: auto;
}