.THIS .user-count_header {
    font-weight : bold;
}
.THIS .user-count_container {
    background-color : #192150; 
    border-radius : 30px; 
    color : white; 
    width : fit-content; 
    min-height : 40px
}
.THIS div svg{
    fill : white;
}