.appx-carousel-media-container {
    display: inline-block;
    position: relative;
    height: inherit;
    width: 702px;
}
.appx-carousel-media-description {
    display: none;
}
.appx-carousel-media-file {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    max-height: 100%;
}