.THIS .slds-form-element .slds-form-element__label {
  display: none;
}

.THIS input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #979797;
  padding: 8px 0;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  outline: 0;
  color: #000;
}

.THIS input::placeholder {
  opacity: 0.25;
}

.THIS input:disabled {
  color: gray;
}

.THIS lightning-input .slds-form-element__help {
  text-align: center;
}