.THIS{}
.THIS .exampleHolder{
    position: relative;
    display: inline-block;
    margin-left: 15px;
    width: 55px;
    vertical-align: middle;
    white-space: nowrap;
}
.THIS  .slds-hint-parent td span{
    float: left;
}
.THIS .margin_top_1{
    margin-top : 1.3%;
}
.THIS .ClassRoasterDataTableClass .slds-button_icon-bare{
    display: none;
}
.THIS .textdanger{
    color:red;
}
.THIS .textdanger svg{
    fill: red !important;
}
.THIS .textsuccess{
    color:green;
}
.THIS .textsuccess svg{
    fill: green !important;
}
.THIS .ClassRoasterDataTableClass thead tr th .slds-th__action{
    background: #5f5f5f !important;
    color: #ffffff !important;
}
.THIS .PlaygroundDataTableClass thead tr th .slds-th__action{
    background: #5f5f5f !important;
    color: #ffffff !important;
}