.THIS {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
}

.THIS .flex {
  display: flex;
}
.THIS .flex.col {
  flex-direction: row;
}
.THIS .flex.col {
  flex-direction: column;
}

.THIS h3 {
  margin: 36px 0 0 90px;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #003b5c;
}

.THIS .info {
  flex: 1;
}

.THIS .actions {
  position: relative;
}
.THIS .actions .new-playground {
  display: flex;
  margin: 64px 32px 0 0;
  padding: 4px 8px;
  border-radius: 2px;
  font-family: "proxima-nova";
  user-select: none;
}
.THIS .actions .new-playground:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.08);
}
.THIS .actions .new-playground p {
  margin: auto 0;
  padding-left: 16px;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #3e3e3c;
  text-transform: uppercase;
}
.THIS .actions .new-playground i {
  margin-left: 30px;
  padding: 0 14px;
  border-radius: 4px;
  background-color: #00a3e0;
  font-size: 24px;
  font-style: normal;
  color: white;
}

.THIS ul {
  display: flex;
  margin: 12px 0 0 90px;
  list-style: none;
}

.THIS ul li {
  margin-right: 32px;
}

.THIS ul li a {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  text-decoration: underline;
}

.THIS ul li a.activated {
  color: #7f8413;
}

.THIS ul li a.inprogress {
  color: #003b5c;
}

.THIS ul li a.failed {
  color: #ff1010;
}

.THIS ul li a.expired {
  color: #a9a9a9;
}

.THIS .separator {
  height: 1px;
  margin: 36px 88px 0;
  background-color: #dddddd;
}

.THIS .content {
  margin: 100px auto 0;
}

.THIS .content .cCps_playground_item {
  margin: 0 24px 24px;
}

.THIS .lights-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  z-index: 999;
}

.THIS .lights-out .cCps_dialog_deletePlayground {
  margin: auto;
}