.THIS {
}

.THIS button {
    height: 40px;
    padding: 0 32px;
    border-radius: 4px;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: 1.2px;
    text-align: center;
    text-transform: uppercase;
    background-color: #003b5c;
    color: white;
}

.THIS button:disabled {
    background-color: #dbdbdb;
}