.THIS {
}

.THIS .cCps_wizard_heading {
  margin: 80px auto 0;
}

.THIS .cCps_wizard_text {
  width: 340px;
  margin: 48px auto 0;
}

.THIS .cCps_salesforce_login_button {
  margin: 0 auto;
}

/* .THIS .salesforce-logo {
  width: 88px;
  margin: 24px auto 0;
} */

/* .THIS a {
  margin: 16px auto 0;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  text-decoration: underline;
  color: #009ddc;
} */
.THIS .cCps_wizard_listActionItem {
  margin: 16px auto 0 auto;
}

.THIS .git-buttons {
  display: flex;
  margin: 32px auto 0;
}

.THIS .git-buttons .git {
  display: flex;
  flex-direction: column;
  margin: 0 22px;
  cursor: pointer;
  text-decoration: none;
}

.THIS .git-buttons .git .icon {
  height: 48px;
  margin: 0 auto;
}

.THIS .git-buttons .git > p {
  margin: 12px 0 0;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  line-height: 1.67;
  text-align: center;
  color: #3e3e3c;
}

.THIS button {
  margin: auto auto 80px;
}