.THIS{position: relative;
    z-index: 1;}
.THIS .main-continer{
    padding: 10px 0px 10px 0px;
}
.THIS .content pre{
    font-size:24px;
    text-align: center;
}
.THIS .content{
    margin: 2% 33%;
    background: white;
    padding: 50px 80px; 
}
.THIS .content-header{
    margin: 6% 30% 2% 30%;
}
.THIS .content-footer{
    margin: 2% 30% 6% 30%;
}
.THIS .salesforceIdentityLoginForm2 .inputContainer{
    border-radius: 4px !important;
}
.THIS .salesforceIdentityLoginForm2 .uiButton{
    background-color: #00c3ee !important;
    border-radius: 4px !important;
    width: 60% !important;
    margin-top: 15% !important;
}
.THIS .salesforceIdentityLoginForm2 .uiButton:hover{
    background-color: #0d1129 !important;
}
.THIS .salesforceIdentityLoginForm2 div:nth-child(4){
    text-align:center !important;
}
.THIS .salesforceIdentityLoginForm2 div:nth-child(5){
    text-align:center !important;
    margin-top: 10%;
}
.THIS .selfRegister{
    display:none;
}
.THIS .inputContainer lightning-icon{
    display: none;
}