.THIS {
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
}
.THIS > h1 {
    margin: 0 auto 0;
    font-size: 26px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #003b5c;
}

.THIS > h2 {
    margin-top: 4px;
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: center;
    color: #3e3e3c;
}

.THIS > img {
    height: 304x;
    margin: 36px auto 0;
}

.THIS > button {
    margin: 80px auto 160px;
}