.THIS{}
.THIS .card-title-heading{
    color: #A88A13;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 21px; 
}
.THIS .card-header{
    margin-bottom: -10px;
}
.THIS .slds-card__body{
    Padding:15px !important;
}
.THIS .user-detail-area{
    padding-top: 4%;
}
.THIS .card-title-sub-heading{
    margin-top: 4px;
    color: #27241F;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 17px;
}
.THIS .card-profile-pic{
    border-radius: 50%;
    border: 5px solid #ffcc00;
    width: 75px;
    height: 75px;
}
.THIS .card-user-name{
    color: #A88A13;
    font-family: "Nunito Sans";
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 5px;
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
}
.THIS .card-user-Title{
    color: #27241F;
    font-family: "Nunito Sans";
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.THIS .card-aboutme-text{
    padding-bottom: 0;
    display: block;
    clear: both;
    overflow: hidden;
    margin:10px;
    color: #27241F;
    font-family: "Nunito Sans";
    font-size: 13px;
    letter-spacing: 0;
    line-height: 18px;
}
.THIS .slds-card__header{
    display:none !important;
}
.THIS .hr-breaker{
    border-top: 1px solid #e0e0e0;
    margin-top: 1rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    padding-top: 1em;
    width: 95%;
    margin: 1rem auto;
}