.THIS {
}

.THIS .cCps_wizard_heading {
    margin: 80px 0 0;
}

.THIS .cCps_wizard_columnsLayout  {
    margin: 40px auto 0;
}

.THIS .cCps_wizard_columnsLayout > div.with-right-border .cCps_wizard_text {
    margin: auto auto 0;
    width: 320px;
}

.THIS .cCps_wizard_columnsLayout > div.with-right-border img {
    margin: 14px auto 0;
    height: 65px;
    width: 77px;
}

.THIS .cCps_wizard_columnsLayout > div.with-right-border h6 {
    margin: 14px auto auto;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #3e3e3c;
}

.THIS button {
    margin: auto auto 80px;
}