.THIS {
  display: flex;
  flex-direction: column;
}

.THIS .flex {
  display: flex;
}
.THIS .flex.col {
  flex-direction: column;
}

.THIS > div {
  display: flex;
}

.THIS .header {
  width: 100%;
  height: 213px;
  background-color: #f3f9fc;
  border-bottom: 1px solid #00a3e0;
}

.THIS .header .back-button {
  position: absolute;
  margin-top: 28px;
  margin-left: 16px;
}
.THIS .header .back-button button {
  width: 32px;
  height: 32px;
  background: transparent;
  border: 0;
  outline: 0;
}
.THIS .header .back-button button img {
  width: 32px;
  height: 32px;
}

.THIS .header .center {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: inherit;
}

.THIS .header .playground-picture {
  height: 80px;
  margin: auto 0 40px;
}

.THIS .header .basics {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: auto 0 40px 64px;
}

.THIS .header .basics h2 {
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: left;
  color: #003b5c;
}

.THIS .header .basics .status {
  display: flex;
  margin-top: 14px;
}

.THIS .header .basics .status img {
  margin: auto 0;
  height: 10px;
}

.THIS .header .basics .status p {
  margin: 0 0 0 10px;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #3e3e3c;
}

.THIS .header .playground-actions {
  display: flex;
  margin: auto 0 20px;
}

.THIS .header .playground-actions button {
  outline: 0;
  border: 0;
  background-color: transparent;
}

.THIS .header .playground-actions img {
  height: 18px;
}

.THIS .body {
  flex-direction: column;
}

.THIS .orgs-section {
  margin: 28px 0 0;
}

.THIS .orgs-section h4 {
  margin-left: 21px;
  font-size: 22px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3e3e3c;
}

.THIS .orgs-section .cCps_list {
  margin: 12px 0 0;
}

.THIS .lights-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  z-index: 999;
}

.THIS .lights-out .cCps_dialog_deletePlayground {
  margin: auto;
}