.THIS {
}

.THIS .cCps_wizard_heading {
  margin: 80px auto 0;
}

.THIS .cCps_wizard_text {
  width: 340px;
  margin: 48px auto 0;
}

.THIS .cCps_salesforce_login_button {
  margin: 0 auto;
}

.THIS .cCps_wizard_listActionItem {
  margin: 16px auto 0 auto;
}

.THIS .git-buttons {
  display: flex;
  margin: 32px auto 0;
}

.THIS .git-buttons .git {
  display: flex;
  flex-direction: column;
  margin: 0 22px;
  cursor: pointer;
  text-decoration: none;
}

.THIS .git-buttons .git .icon {
  height: 48px;
  margin: 0 auto;
}

.THIS .git-buttons .git > p {
  margin: 12px 0 0;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  line-height: 1.67;
  text-align: center;
  color: #3e3e3c;
}

.THIS button#btnFinish {
    margin: 48px auto 0;
    width: 150px;
}

.THIS img#successScreen {
    height: 125px;
    margin: 48px auto 0;
}

.THIS h3#subTitle {
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.59;
  letter-spacing: normal;
  text-align: center;
  color: #003b5c;
}