.THIS {
    display: flex;
    flex-direction: column;
    min-width: 832px;
    min-height: 496px;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    background-color: #fdfdfd;
}