.THIS {
  margin: auto;
  background-color: transparent;
  position: relative;
}

.THIS .slds-spinner::after {
  background-color: #00a3e0;
}
.THIS .slds-spinner::before {
  background-color: #00a3e0;
}
.THIS .slds-spinner__dot-a::after {
  background-color: #00a3e0;
}
.THIS .slds-spinner__dot-a::before {
  background-color: #00a3e0;
}
.THIS .slds-spinner__dot-b::after {
  background-color: #00a3e0;
}
.THIS .slds-spinner__dot-b::before {
  background-color: #00a3e0;
}