.THIS {
}

.THIS h1 {
    margin: 80px auto 0;
}

.THIS .checkbox {
    margin: auto auto 0;
}
.THIS .checkbox input[type='checkbox'] {
    margin-top: 3px;
}
.THIS .checkbox label {
    margin-left: 6px;
}

.THIS .cCps_wizard_textInput, .THIS .cCps_wizard_picklistInput {
    width: 320px;
    margin: 8px auto 0;
}
.THIS .cCps_wizard_textInput input::placeholder {
    font-size: 22px;
}

.THIS button {
    margin: auto;
}