.container {
    font-family: "Salesforce-Sans", sans-serif;
}
.appx-content-inner {
    /*width: 1200px;*/
    margin-left: auto;
    margin-right: auto;
}
.appx-listing-detail {
    margin: 1rem 0;
    /*background-color: #f4f6f9;*/
    overflow: hidden;
}
.appx-listing-overview-header {
    border-bottom : 1px solid #dcdcdc;
    margin-bottom : 0.75rem;
}
.appx-detail-carousel-container {
    float: left;
    margin-right: 10px;
    padding: 4px;
    width: 710px;
    height: 517px;
}
.appx-headline-details {
    width: 480px;
    width: 40%;
    float: right;
}

.comma-separated > a:not(:last-of-type):after{
    content: ', '
}