.THIS{}
.THIS .Main-container{ background-color:#ffffff !important; padding: 106px;
    box-shadow: 0 2px 28px -6px rgba(177,177,177,0.5) !important;
    border-radius: 6px !important;
}
.THIS .main-heading{
    font-size:24px;
    color: #2F3132;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 29px;
    font-family:Nunito Sans SemiBold;
}
.THIS .step-container-heading{
    font-size:14px;
    text-align:center;
    margin-top: 42px;
    margin-bottom:37px;
    color: #909296;
    letter-spacing: 0;
    line-height: 19px;
    font-family: Nunito Sans Regular;
}
.THIS .bottom20{
    margin-bottom:2%;
}
.THIS .login-link{
    color: #4A84E6;
     letter-spacing: 0;
    line-height: 19px;
    font-family: Nunito Sans Regular;
    text-align: center;
    text-decoration: underline;
}
.THIS .footer-container{
    margin-top: 13px;
    margin-bottom: 35px;
}