.THIS{}
@font-face {
   font-family: Nunito;
  src: url(/resource/1594289457000/NunitoSans/NunitoSans-Regular.ttf);
}
.THIS .Main-container{ background-color:#ffffff !important; padding:40px 40px 17px 40px;}
.THIS .text-required{color:#f10909;}
.THIS .slds-checkbox .slds-checkbox__label .slds-form-element__label{font-size: 14px;}
.THIS .custom-Indicator {max-width: 2% !important; width:2% !important;}
.THIS .sign-up-form-input{
    width: 44%;
    margin: 0 auto;
}
.THIS .select_label{margin-top:-20px;}
.THIS .main-heading{
    font-size:24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 29px;
    font-family: Nunito Sans SemiBold;
    color:#2F3132 !important;
}
.THIS .sub-heading{
    margin-top:14px;
    font-size:14px;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom:36px;
    font-family:Nunito Sans Regular;
    color : #6E7074 !important;
}
.THIS .step-container-heading{
    font-size:14px;
    text-align:left;
    margin-bottom:22px;
    font-family: Nunito Sans SemiBold;
    color: #474744;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 18px;
}
.THIS .bottom20{
    margin-bottom:20px;
}
.THIS .login-link{
    color: #2465C9 !important;
    text-decoration: underline;
}
.THIS .size_1{width:min-content;}
.THIS .size_2{width:min-content; margin-left:2%;}
.THIS .input-field-container{
    margin-left: 8%;
    margin-right: 8%;
}
.THIS .text-danger{
    color: #f10909 !important;
    margin: 0 auto !important;
}
.THIS .footer-container{
    color: #2465C9;
    font-family: "Nunito Sans" !important;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19px;
    margin-top: 13px;
    margin-bottom: 35px;
}
.THIS .ss-sign-up-btn{
    text-transform: uppercase;
    width: 60%;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #ffffff;
    cursor: pointer;
    background-color: #00C3EE;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 14px;
    font-family: Nunito Sans ExtraBold !important;
    font-weight: 800;
    letter-spacing: 0.3px;
    line-height: 19px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}
.THIS .ss-sign-up-btn:hover{
    background-color: #0d1129;
}
.THIS .register-label{
    margin-bottom:8px;
    font-size: 13px;
    color: #46494A;
    font-family:Nunito Sans Regular;
    letter-spacing: 0;
    line-height: 19px;
}
.THIS .ss-input{
    padding: 5px;
    background-color: #ffffff;
    border: 0.5px solid #979FAC;
    border-radius: 4px;
    width: 100%;
}
.THIS .info-icon{
    float: right;
    margin-right: -3%;
    margin-top: 3%;
}
.THIS .slds-input::placeholder{
    color:grey !important;
}
.THIS .slds-input:focus{
    border:none !important;
    background-color: transparent;
    border: 0px solid;
    box-shadow: none;
}
.THIS .slds-input:active{
    border:none !important;
    background-color: transparent;
    border: 0px solid;
    box-shadow: none;
}
.THIS .slds-input:hover{
    border:none !important;
    background-color: transparent;
    border: 0px solid;
    box-shadow: none;
}

.THIS .slds-input{
    border:none !important;
    background-color: transparent;
    border: 0px solid;
    box-shadow: none;
}