.THIS{position: relative;
    z-index: 1;}
.THIS .main-continer{
    padding: 10px 0px 10px 0px;
}
.THIS .content{
    margin: 2% 33%;
    background: white;
    padding: 50px; 
    box-shadow: 0 2px 28px -6px rgba(177,177,177,0.5);
}
.THIS .content .uiOutputRichText p:first-child{
    color: #3E4041 !important;
  font-family: "Nunito Sans";
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 29px;
}
.THIS .content .uiOutputRichText p span:nth-child(3){
    color: #5B5D5F !important;
  font-family: "Nunito Sans";
  font-size: 14px !important;
  letter-spacing: 0;
  line-height: 19px;
}
.THIS .content .uiOutputRichText p:nth-child(3){
   color: #7A7B7F !important;
  font-family: "Nunito Sans";
  font-size: 14px !important;
  letter-spacing: 0;
  line-height: 19px;
}
.THIS .content .uiOutputRichText p a{
    color: #4A84E6 !important;
  font-family: "Nunito Sans";
  font-size: 14px !important;
    font-weight:500 !important;
  letter-spacing: 0;
  line-height: 19px;
}
.THIS .inputContainer lightning-icon{
    display : none !important;
}
.THIS .inputContainer input{
    margin-left: 0px !important;
    width : 97% !important;
}
.THIS .content .uiOutputRichText p:nth-child(2){
   color: #3E4041;
  font-family: "Nunito Sans";
  font-size: 14px !important;
  letter-spacing: 0;
  line-height: 19px;
}
.THIS .content .uiOutputRichText p:nth-child(4){
    color: #5B5D5F;
  font-family: "Nunito Sans";
  font-size: 14px !important;
  letter-spacing: 0;
  line-height: 19px;
}
.THIS .content-header{
    margin: 6% 30% 2% 30%;
}
.THIS .content-footer{
    margin: 2% 30% 6% 30%;
}
.THIS .salesforceIdentityForgotPassword2 .inputContainer{
    border-radius: 4px !important;
}
.THIS .salesforceIdentityForgotPassword2 .uiButton{
    background-color: #00c3ee !important;
    border-radius: 4px !important;
    width: 60% !important;
    margin-top: 15% !important;
}
.THIS .salesforceIdentityForgotPassword2 div:nth-child(2){
    text-align:center;
}