.THIS {
  min-width: 832px;
  width: 100%;
  height: 140px;
  display: flex;
  margin: auto;
}

.THIS .slds-progress {
  margin: 0;
  max-width: unset;
}

.THIS .slds-popover {
  left: 139px;
  width: unset;
  padding: 0 32px;
  border: 2px solid #00a3e0;
  background-color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.THIS .slds-popover .slds-popover__body {
  font-size: 12px;
  text-align: center;
  color: #00a3e0;
}

.THIS .slds-popover::before {
  bottom: -0.6rem;
  border-right: 2px solid #00a3e0;
  border-bottom: 2px solid #00a3e0;
  background-color: white;
}