.THIS {
  /* user-select: none; */
}

.THIS > a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.THIS > a,
.THIS > a.no-hover,
.THIS > a.no-hover > a,
.THIS > a.no-hover > img {
  cursor: auto;
}

/* .THIS > a:hover {
} */

.THIS > a > img {
  width: 88px;
  margin: 24px auto 0;
  cursor: pointer;
}

.THIS > a > p {
  margin: 14px auto 0;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #009ddc;
}

.THIS > a > p:hover {
  cursor: pointer;
  text-decoration: underline;
}