.THIS{}
.THIS .ReputationPoint-text{
    background: #f5f5f5;
    border:0.25px solid lightgrey;
    border-radius: 6px;
    padding: 4px;
    font-weight: 600;
    font-size: 11px;
}
.THIS .ReputationPoint{
    
}